<mat-nav-list style="padding-top: 0 !important;">
    <div>
        <a routerLink="/sysadmin/dashboard"><img src="../../../assets/logo/logo.png" alt="QuizKids" ></a>
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="MT-2">QUẢN TRỊ HỆ THỐNG</h2>
    <a mat-list-item routerLink="/sysadmin/dashboard" routerLinkActive="list-item-active">
        <mat-icon style="margin-right: 8px;">dashboard</mat-icon>Dashboard
    </a>
    <a mat-list-item routerLink="/sysadmin/student-manage" routerLinkActive="list-item-active">
        <mat-icon style="margin-right: 8px;">face</mat-icon>Quản lý học sinh
    </a>
    <a mat-list-item routerLink="/sysadmin/teacher-manage" routerLinkActive="list-item-active">
        <mat-icon style="margin-right: 8px;">teacher</mat-icon> Quản lý giáo viên
    </a>
    <a mat-list-item routerLink="/sysadmin/quiz-manage" routerLinkActive="list-item-active">
        <mat-icon style="margin-right: 8px;">quiz</mat-icon>Quản lý bộ Quiz
    </a>
</mat-nav-list>