<mat-nav-list style="padding-top: 0 !important;">
    <div>
        <a routerLink="/home"><img src="../../../assets/logo/logo.png" alt="QuizKids"></a>
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="MT-2">QUẢN TRỊ HỆ THỐNG</h2>
    <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon>Dashboard
    </a>
    <a mat-list-item><mat-icon>student</mat-icon>Quản lý học sinh</a>
    <a mat-list-item><mat-icon>teacher</mat-icon> Quản lý giáo viên</a>
    <a mat-list-item><mat-icon>quiz</mat-icon>Quản lý bộ Quiz</a>
</mat-nav-list>