* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
}
:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-drawer {
    width: 260px;
    background: #fff;
}

mat-drawer-container {
    height: 100%;
}